# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node & Build
node_modules
dist
dist-ssr
*.local

# Large 3D source files and archives
3d-garment-ad-studio/
*.fbx
*.rar
*.zip
*.7z

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
